body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.navbar{
    /* background:#333; */
    background:#fee;
}
.navbar a{
    /* color: #fff; */
    padding: 4px;
    font-size: 18px;
}
.navbar a:hover{
    border-bottom: 4px solid #000;
}
.signup a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 30px;
    border: 2px solid #ff0000;
}
.signup a:hover{
background-color: red;
}

/* about */
.container{
    margin: 0;
}
.about{
    margin-top: 50px;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
  
}
.about-txt h1{
    text-align: center;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
    width: 450px;
    margin-left: 72px;
    margin-right: 72px;
}
.about p{
    font-weight: 500;
    padding: 100px;
}

.row{
    margin-top: 50px;
    /* margin-left: 225px; */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
}